<h1>Your lists</h1>


<% @lists.each do |list| %>
<ul>

    <li><a href="/lists/<%= list.id %>"><%= list.name %></a></li>

    <form action="/lists/<%= list.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">

</form>


</ul>

<% end %>

