<h1>New list<h1>
<form action='/lists' method='POST'>

    <p>
        <label for='name'>Name:</label>
        <input type='text' name='name'>
    </p>

    <input type='submit' value='Create list'>

</form>