

<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2 style="text-align:center">Welcome to Movie List!</h2>

    <div class="content">
      
    </div>
  </div>
</div>
